= turbo_frame_tag "filter_#{filter.id}" do
  div class="flex"
    div class="flex w-full my-1"
      = render "conditional_operator"
      = button_to "Delete",
                cupboard_recipe_optimizations_advanced_filter_path(@cupboard.id, filter.id),
                method: :delete,
                type: "button",
                class: "btn btn--light"
